*{
    margin: 0;
    padding: 0;
}
body{
    .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
}
.navbar{
    background-color: #fd6569;
    padding: 10px;
    border-radius: 10px;
}
.container{
    display: flex;
}
.book-container{
    background-color: black;
    color: white;
    width: 25%;
border-radius: 10px;
margin: 20px;
gap: 20px;
padding: 10px;
}
.book-container h2{
    color: #fd6569;
}
.book-container button{
    background-color: #fd6569;
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-top: 10px;
}
.add-button{
    background-color: #fd6569;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50px;
    border: none;
   font-size: 40px;
   position: fixed;
   bottom: 30px;
   right: 30px;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
}
.popup-box{
    background-color: #fd6569;
    color: black;
    width: 25%;
    padding: 20px;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 10px;
    display: none;
}
.popup-box input{
    background-color: transparent;
    border: none;
    border-bottom:solid black 2px;
    margin-top: 10px;
padding-right: 250px;
padding-left: 5px;
padding-bottom: 5px;

}
.popup-box textarea{
    background-color: transparent;
    border:solid black 2px;
    margin-top: 10px;
    padding-right: 270px;
    padding-left: 5px;
    padding-top: 10px;
}
.popup-box button{
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box input:focus{
    outline: none;
}
.popup-box textarea:focus{
    outline: none;
}


   
